<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>KARMINI</title>
</head>
<body>
    <header>
       <a href="#" class="hef"><img src="images/logo.png"></a>
       <nav class="navigation">
        <a href="#Boutique">Boutique</a>
        <a href="#administration">Administration</a>
        </nav>
    </header>
    <section class="main">
        <div>
            <h2>Bienvenu chez <br><span>KARMINI Bio</span></h2>
            <h3>Depuis 2019</h3>
            <a href="#actual" class="main-btn">Contact</a>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61552156378969"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/karminibio/"> <i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

    </section>

    <section class="cards" id="Boutique">
        <div><h2 class="title">Boutique</h2></div>
        <div class="content">
            <button onclick="window.location.href = 'vitrine';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-shop"></i>
                </div> 
                <div class="info">
                    <h3>Vitrine</h3>
                    <p>Découvrir nos produits !</p>
                </div>
            </div></button>

        </div>
    </section>

    <section class="admin" id="administration">
        <h2 class="title">Espace Administratif</h2>
        <div class="content">
    
            <button onclick="window.location.href = 'connectad';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-user-tie"></i>
                </div> 
                <div class="info">
                    <h3>Administratif</h3>
                    <p>Vous êtes administratif !</p>
                </div>    
            </div></button>

        </div>
    </section>

    <section class="histo" id="actual">
        <h2 class="title">Contact</h2>
        <div class="contact">
            <img src="images/contact11.jpg" alt="">
           
        </div>
          

    </section>
</body>
<footer>
    <p>&copy; KARMINI Bio, 2023.</p>
</footer>  
</html>