<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/produit.css">
    <title>Modifier</title>
</head>
<body>
    <section>
        <form method="POST" action="/ajouter" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Produit:</td>
                    <td><input type="file" name="image" accept="image/*" required></td>
                </tr>
                <tr>
                    <td>Nom:</td>
                    <td><input type="text" name="nom" required></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="discrip" required></td>
                </tr>
                <tr>
                    <td>Reference:</td>
                    <td><input type="text" name="reff" required></td>
                </tr>
                <tr>
                    <td>Prix:</td>
                    <td><input type="text" name="prix" required></td>
                </tr>
            </table>
            <input type="submit" value="Ajouter">
        </form>
            <form method="POST" action="/delete-product">
                <table>
                    <tr>
                        <td>Reference:</td>
                        <td><input type="text" name="reff" required></td>
                    </tr>
                </table>
                <input type="submit" value="supprimer">
            </form>
        
    </section>
    
</body>
</html>