@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
  overflow: hidden;
}

section{
    padding: 230px 250px;
}
h2 {
    color: #0d7002;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
}
.connectEn {
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222batch5-kul-36_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=4ce6584b26089e990be89650d5d1cad8);
    background-size: cover;
    background-position: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}
td {
    color: #000000;
	text-align: left;
	padding: 4px;

}
tr {
    transition: 0.7s;
}
tr:hover {
	background-color: #fff;
    transform: scale(1.1);
}
input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit] {
	background-color: #0d7002;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    transition: 0.7s ease;
    position: relative;
    top: 40px; 
    left: 370px;
}  
input[type=submit]:hover {
    background-color: #0d7002;
    transform: scale(1.1);

}
/* Error message container */
.error-message {
    background-color: #ffdddd; /* Light red background color */
    border: 1px solid #f44336; /* Red border */
    color: #f44336; /* Red text color */
    padding: 10px; /* Padding around the message */
    margin-bottom: 10px; /* Space at the bottom of the message */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center-align text */
  }
  
  .close-button {
    float: right;
    cursor: pointer;
    padding: 5px;
  }
  
